<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 small-12 columns">
      <%= f.label :user_id %>
      <%= f.collection_select :user_id, User.all, :id, :full_name %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 small-12 columns">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
