<!DOCTYPE html>
<html>
<head>
  <title>Funbook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="row">
  <nav class="top-bar large-12 small-12 columns">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to 'FunBook', feed_path %></a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to 'Status List', feed_path %></li>
        <li class="divider"></li>
        <% if user_signed_in? %>
          <li><%= link_to 'New Status', new_status_path %></li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Account</a>
            <ul class="dropdown">
              <li><%= link_to 'Account', edit_user_registration_path %></a>
              <li><%= link_to 'Log Out', logout_path %></a>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Log In', login_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Register', register_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</header>

<section class="row">
  <div class="large-12 small-12 columns">
    <% if user_signed_in? %>
      <div class="alert-box info radius">
        Hi, <%= current_user.full_name %>!
      </div>
    <% end %>
    <% flash.each do |type, message| %>
      <div class="alert-box radius <%= flash_class type %>">
        <%= message %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <%= yield %>
  </div>
</section>
</body>
</html>
